{% extends 'base.html' %}
<body>
{% block main %}
<div id="images" style="text-align: center; outline: 0;">
    <img src="{{url_for('static', filename='flask-homework.png')}}" usemap="#image-map" width="650px" height="360px">
    <map name="image-map">
        <area href="{{url_for('templates', filename='alarm_clock.html')}}" coords="20,20,167,132" shape="rect">
        <area href="{{url_for('templates', filename='headphones.html')}}" coords="392,143,242,11" shape="rect">
        <area href="{{url_for('templates', filename='ipod.html')}}" coords="477,7,630,152" shape="rect">
        <area href="{{url_for('templates', filename='calculator.html')}}" coords="17,196,135,344" shape="rect">
        <area href="{{url_for('templates', filename='coffeemaker.html')}}"
              coords="270,206,378,208,374,328,269,331,248,258,254,248,265,238,259,227" shape="poly">
        <area href="{{url_for('templates', filename='battery_charger.html')}}" coords="477,239,614,307" shape="rect">
    </map>
</div>
{% endblock %}
</body>
</html>
